<div class="preparation-tab">
  <div class="preparation-actions">
    <button class="secondary-btn" id="prepSelectAllBtn" type="button">
      Выбрать все
    </button>

    <button class="secondary-btn" id="prepClearAllBtn" type="button">
      Снять все
    </button>
  </div>

  <div class="preparation-table-scroll">
    <table class="preparation-excel-table" id="preparationTable">
      <colgroup>
        <col class="prep-col-small" />
        <col class="prep-col-small" />
        <col class="prep-col-task" />
        <col class="prep-col-shelf" />
        <col class="prep-col-shelf-check" />
        <col class="prep-col-shelf-check" />
      </colgroup>

      <thead>
        <tr>
          <th class="prep-title" colspan="6">ПОДГОТОВКА К СМЕНЕ</th>
        </tr>

        <tr>
          <th>Утро</th>
          <th>Вечер</th>
          <th></th>
          <th class="prep-shelf-title">СРОКИ ХРАНЕНИЯ</th>
          <th>утро</th>
          <th>вечер</th>
        </tr>
      </thead>

      <tbody id="preparationBody">
        <tr>
          <td colspan="6">Загрузка...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>